.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 177px;
        padding: 16px;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        background-color: var(--primary-light-grey-color);
}